@import '../../../setting';

.top-bar {
    background-color: $bg_topbar;
    font-family: $font_primary;
    position: fixed;
    top: 0;
    
    .logo-header {
        width: 160px;
        position: relative;
        top: 0;
        right: 0;
    }
}