.blog-detail {
    margin-top: 76px;
    .logo-baner {
        width: 100%;
        height: 400px !important;
        z-index: -1!important;
        object-fit: cover;
    }
    .item-name {
        font-size: larger;

        font-weight: bold;
    }
    .item-time {
        font-weight: 500;
        align-self: stretch;
        font-size: small;
        color: #6941C6;
        text-align: left;
    }
    .content {
        line-height: 40px;
    }
}