.allproduct-master {
    .banner-allproduct {

        .img-banner {
            width: 100%;
            height: 522px;
            position: relative;
            object-fit: cover;
            display: block;
        }

    }
}