@import "../../../setting";
.container-fluid{
  padding: 0 !important;
}
.footer {
  min-width: 100%;
  align-items: center;
  font-family: $font_primary;
  .ft-content {
    padding: 50px 100px 48px 100px;
    background-color: $bg_topbar;
    .ft-content-child-1 {
      img {
        width: 229px;
        margin-bottom: 20px;
      }
    }
    .ft-content-child-2 {
      .ft-content-child-3 {
        ul {
          li {
            list-style: none;
            padding-bottom: 10px;
            font-weight: 500;
            &:hover {
              color: #339b3f;
            }
          }
        }
      }
    }
  }
}
.tilte-content {
  color: #98a2b3;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 20px;
}
.ft-bottom {
  background-color: #101828;
  span {
    padding: 20px 100px;
    display: block;
  }
}
