@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700&display=swap');

$h_topbar: 76px;

$font_primary:'Inter', sans-serif;
$bg_topbar:#ECF1ED;

$bg_btn_2:rgb(14, 98, 18);

$bg_second: #52C452;
$color_text: #204322;
$h_nav_mb:75px;