.img-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white;
    background-color: rgb(238, 235, 235);
    border-radius: 68px;
    overflow: hidden;


}


.img-current,.img-1, .img-2  {
    width: 100%;
    height: 300px;
    object-fit: contain;

    @media screen and (min-width: 280px) and (max-width: 767px) {
        width: 200px;
        height: 283px;

    }
}